:root{
    --color-primary:#1ABC9C;
    --color-primary-light:#68b8a8;
    --color-primary-dark:#14947a;
    --color-secondary:#FFFFFF;
    --color-third:#2C3E50;
    --color-third-light:#3b4652;
    --color-third-dark:#243240;
    --color-forth:#3A546D;
}


footer a{
    text-decoration: none;

}



.box-message{
    min-height: 300px;
}

.my-form-style{
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-radius: 0;
}



/* -----DECORATION BOX----- */
.decoration-box{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}
.line{
    background-color: white;
    height: 5px;
    flex-grow: 1;
    max-width: 80px;
}
.star{
    color: white;
    padding: 0 .5rem;
}

.line-dark{
    background-color:var(--color-forth);
}
.star-dark{
    color:var(--color-forth);
}


/* ------UTILITIES------- */
.my-bg-primary{
    background-color: var(--color-primary);
}
.my-bg-secondary{
    background-color: var(--color-secondary);
}
.my-bg-third{
    background-color: var(--color-third);
}
.my-bg-forth{
    background-color: var(--color-forth);
}
.btn-outline-third{
    --bs-btn-bg: var(--color-third);
    --bs-btn-border-color: var(--color-third);
    --bs-btn-hover-bg: var(--color-third-light);
    --bs-btn-hover-border-color: var(--color-third-light);
    --bs-btn-active-bg: var(--color-third-dark);
    --bs-btn-active-border-color: var(--color-third-dark);
    --bs-btn-disabled-bg: var(--color-third);
    --bs-btn-disabled-border-color: var(--color-third);
    
}
.btn-outline-primary{
    
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: var(--color-primary-light);
    --bs-btn-hover-border-color: var(--color-primary-light);
    --bs-btn-active-bg: var(--color-primary-dark);
    --bs-btn-active-border-color: var(--color-primary-dark);
    --bs-btn-disabled-bg: var(--color-primary);
    --bs-btn-disabled-border-color: var(--color-primary);
}
.btn-primary{
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: var(--color-primary-light);
    --bs-btn-hover-border-color: var(--color-primary-light);
    --bs-btn-active-bg: var(--color-primary-dark);
    --bs-btn-active-border-color: var(--color-primary-dark);
    --bs-btn-disabled-bg: var(--color-primary);
    --bs-btn-disabled-border-color: var(--color-primary);
}
.btn-circle{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    overflow: hidden;
}
.btn-circle:hover{
    border: 1px solid white;
    
    transform: scale(1.2);
}
.txt-primary{
    color: var(--color-primary);
    
}

.ft-size-0-8{
    font-size: .8rem;
}

.wd-200{
    max-width: 200px;
}

